body {
    font-family: 'Fira Code', Consolas, 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #d4d4d4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #d4d4d4;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #252526;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 10px;
    border: 1px solid #3e3e42;
    text-align: left;
    color: #d4d4d4;
}

th {
    background-color: #333333;
}

tr:nth-child(even) {
    background-color: #2d2d2d;
}

.copyable {
    cursor: pointer;
    color: #569cd6; /* Cambia este color para un mejor contraste */
    text-decoration: none;
}

.copyable:hover {
    text-decoration: underline;
}
